<div class="w-full bg-[#2D241E] border-b-2 border-white/5 font-sketch text-[#F5E6D3] sticky top-0 z-[100]">

  <header class="max-w-6xl mx-auto px-6 py-4 md:py-12 flex flex-col items-center">

    <div class="w-full flex items-center justify-between md:justify-center relative">

      <h1 class="text-3xl md:text-6xl font-bold tracking-widest uppercase md:border-b-4 border-gb-sun/40 md:mb-8 md:pb-2 md:px-8 transition-transform hover:scale-105 duration-500 cursor-pointer"
          routerLink="/">
        The Grainbound
      </h1>

      <button
        (click)="isMenuOpen.set(!isMenuOpen())"
        class="md:hidden p-2 text-gb-sun focus:outline-none"
        aria-label="Toggle Menu">
        @if (!isMenuOpen()) {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
        } @else {
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        }
      </button>
    </div>

    <nav
      [class.hidden]="!isMenuOpen()"
      [class.flex]="isMenuOpen()"
      class="md:flex flex-col md:flex-row items-center w-full md:w-auto mt-6 md:mt-0 space-y-6 md:space-y-0 md:space-x-10 text-xl font-medium transition-all duration-300">

      <a routerLink="/about" (click)="isMenuOpen.set(false)"
         routerLinkActive="text-gb-sun underline"
         class="hover:text-white hover:underline decoration-gb-sun transition-colors">
        About
      </a>

      <a href="#" (click)="isMenuOpen.set(false)"
         class="hover:text-white hover:underline decoration-gb-sun transition-colors">
        Story
      </a>

      <a routerLink="/products" (click)="isMenuOpen.set(false)"
         routerLinkActive="text-gb-sun underline"
         class="hover:text-white hover:underline decoration-gb-sun transition-colors">
        Products
      </a>

      <a routerLink="/freebies" (click)="isMenuOpen.set(false)"
         routerLinkActive="text-gb-sun underline"
         class="hover:text-white hover:underline decoration-gb-sun transition-colors">
        Freebies
      </a>

      <a href="#" (click)="isMenuOpen.set(false)"
         class="hover:text-white hover:underline decoration-gb-sun transition-colors">
        Contact
      </a>
    </nav>

  </header>
</div>
